---
import Logo from './Logo.astro';
import Navigation from './Navigation.astro';

const { currentPath, pages, siteName, logo } = Astro.props;
---

<header class="navigation py-6 px-2 bg-slate-50">
  <div class="sm:flex justify-between container items-center mx-auto">
    <div class="logo sm:basis-1/3 font-bold p-1">
      <Logo {siteName} {logo} />
    </div>
    <Navigation {pages} {currentPath} />
  </div>
</header>
