---
import LinkButton from '../components/LinkButton.astro';
import Notification from '../components/Notification.astro';
import Card from '../components/Card.astro';
---

<div class="test">
  <h2>Component Kitchensink:</h2>
</div>

<div class="test">
  <div class="buttonContainer">
    <LinkButton type="primary" icon="icon-info" size="small" iconPosition="start" text="With Icon" />
    <LinkButton type="primary" icon="icon-info" size="medium" iconPosition="start" text="With Icon" />
    <LinkButton type="primary" icon="icon-info" size="large" iconPosition="start" text="With Icon" /> 
  </div>
</div>

<div class="test">
  <div class="buttonContainer">
    <LinkButton type="secondary" icon="icon-info" size="small" iconPosition="start" text="With Icon" />
    <LinkButton type="secondary" icon="icon-info" size="medium" iconPosition="start" text="With Icon" />
    <LinkButton type="secondary" icon="icon-info" size="large" iconPosition="start" text="With Icon" /> 
  </div>
</div>

<div class="test">

  <Notification
    type="default"
    title="Information"
    text="This is an informational message."
  />

  <Notification
    type="info"
    title="Information"
    text="This is an informational message."
  />

  <Notification
    type="danger"
    title="Information"
    text="This is an informational message."
  />

  <Notification
    type="caution"
    title="Information"
    text="This is an informational message."
  />


  <Notification
    type="success"
    title="Information"
    text="This is an informational message."
  />
</div>

<div class="test">
  <div class="cardContainer">
    <Card 
      title="Nice Card"
      theme="default"
      content="Here is the content"
    />

    <Card 
      title="Nice Card"
      theme="golden"
      content="Here is golden content"
    />

    <Card 
      title="Nice Card"
      theme="pinkish"
      content="Here is pinkish content"
    />
  </div>
</div>

<style is:global>
.test {
    margin-block: 2rem;
    display: grid;
    grid-template-columns: var(--centerGrid--columns);
    column-gap: var(--centerGrid--gap);
    grid-auto-rows: min-content;

    & > * {
        grid-column: main;
    }

    & .buttonContainer {
      display: flex;
      gap: 1rem;
      align-items: flex-start;
    }

    & .cardContainer {
      display: flex;
      gap: 1rem;
      align-items: flex-start;
    }
}
</style>