/* prettier-ignore */
:root {
    --button--primary--color--pinkish:               var(--COLOR--N00);
    --button--primary--backgroundColor--pinkish:     var(--COLOR--PI50);
    --button--primary--borderColor--pinkish:         var(--COLOR--PI50);

    /* LIGHT */
    --card--color--primary--pinkish--light:     var(--COLOR--PI85);
    --card--color--secondary--pinkish--light:   var(--COLOR--PI70);
    --card--backgroundColor--pinkish--light:    var(--COLOR--PI10);
    --card--borderColor--pinkish--light:        var(--COLOR--PI25);


    /* LIGHT CONTRAST */
    --card--color--primary--pinkish--light--contrast:   var(--COLOR--N95);
    --card--color--secondary--pinkish--light--contrast: var(--COLOR--N95);
    --card--backgroundColor--pinkish--light--contrast:  var(--COLOR--N00);
    --card--borderColor--pinkish--light--contrast:      var(--COLOR--N95);


    /* DARK */
    --card--color--primary--pinkish--dark:      var(--COLOR--PI50);
    --card--color--secondary--pinkish--dark:    var(--COLOR--PI10);
    --card--backgroundColor--pinkish--dark:     var(--COLOR--PI85);
    --card--borderColor--pinkish--dark:         var(--COLOR--PI70);

    /* DARK CONSTRAST */
    --card--color--primary--pinkish--dark--contrast:    var(--COLOR--N00);
    --card--color--secondary--pinkish--dark--contrast:  var(--COLOR--N00);
    --card--backgroundColor--pinkish--dark--contrast:   var(--COLOR--N95);
    --card--borderColor--pinkish--dark--contrast:       var(--COLOR--N00);
}

/* prettier-ignore */
:root {
    color-scheme: light;    
    --card--color--primary--pinkish:            var(--card--color--primary--pinkish--light);
    --card--color--secondary--pinkish:          var(--card--color--secondary--pinkish--light);
    --card--backgroundColor--pinkish:           var(--card--backgroundColor--pinkish--light);
    --card--borderColor--pinkish:               var(--card--borderColor--pinkish--light);
}

/* prettier-ignore */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;    
        --card--color--primary--pinkish:        var(--card--color--primary--pinkish--dark);
        --card--color--secondary--pinkish:      var(--card--color--secondary--pinkish--dark);
        --card--backgroundColor--pinkish:       var(--card--backgroundColor--pinkish--dark);
        --card--borderColor--pinkish:           var(--card--borderColor--pinkish--dark);
    }
}

/* prettier-ignore */
[data-appearance="light"] {
    color-scheme: light;    
    --card--color--primary--pinkish:            var(--card--color--primary--pinkish--light);
    --card--color--secondary--pinkish:          var(--card--color--secondary--pinkish--light);
    --card--backgroundColor--pinkish:           var(--card--backgroundColor--pinkish--light);
    --card--borderColor--pinkish:               var(--card--borderColor--pinkish--light);
}

/* prettier-ignore */
[data-appearance="dark"] {
    color-scheme: dark;    
    --card--color--primary--pinkish:            var(--card--color--primary--pinkish--dark);
    --card--color--secondary--pinkish:          var(--card--color--secondary--pinkish--dark);
    --card--backgroundColor--pinkish:           var(--card--backgroundColor--pinkish--dark);
    --card--borderColor--pinkish:               var(--card--borderColor--pinkish--dark);
}

/* prettier-ignore */
@media (prefers-color-scheme: light) and (prefers-contrast: more) {
    :root {
        color-scheme: light;
        --card--color--primary--pinkish:        var(--card--color--primary--pinkish--light--contrast);
        --card--color--secondary--pinkish:      var(--card--color--secondary--pinkish--light--contrast);
        --card--backgroundColor--pinkish:       var(--card--backgroundColor--pinkish--light--contrast);
        --card--borderColor--pinkish:           var(--card--borderColor--pinkish--light--contrast);
    }

    [data-appearance="light"] {
        color-scheme: light;
        --card--color--primary--pinkish:        var(--card--color--primary--pinkish--light--contrast);
        --card--color--secondary--pinkish:      var(--card--color--secondary--pinkish--light--contrast);
        --card--backgroundColor--pinkish:       var(--card--backgroundColor--pinkish--light--contrast);
        --card--borderColor--pinkish:           var(--card--borderColor--pinkish--light--contrast);
    }
}

/* prettier-ignore */
@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
    :root {
        color-scheme: dark;
        --card--color--primary--pinkish:        var(--card--color--primary--pinkish--dark--contrast);
        --card--color--secondary--pinkish:      var(--card--color--secondary--pinkish--dark--contrast);
        --card--backgroundColor--pinkish:       var(--card--backgroundColor--pinkish--dark--contrast);
        --card--borderColor--pinkish:           var(--card--borderColor--pinkish--dark--contrast);
    }

    [data-appearance="dark"] {
        color-scheme: dark;
        --card--color--primary--pinkish:        var(--card--color--primary--pinkish--dark--contrast);
        --card--color--secondary--pinkish:      var(--card--color--secondary--pinkish--dark--contrast);
        --card--backgroundColor--pinkish:       var(--card--backgroundColor--pinkish--dark--contrast);
        --card--borderColor--pinkish:           var(--card--borderColor--pinkish--dark--contrast);
    }
}

/* prettier-ignore */
@media (prefers-contrast: more) {
    [data-appearance="light"] {
        color-scheme: light;
        --card--color--primary--pinkish:        var(--card--color--primary--pinkish--light--contrast);
        --card--color--secondary--pinkish:      var(--card--color--secondary--pinkish--light--contrast);
        --card--backgroundColor--pinkish:       var(--card--backgroundColor--pinkish--light--contrast);
        --card--borderColor--pinkish:           var(--card--borderColor--pinkish--light--contrast);
    }

    [data-appearance="dark"] {
        color-scheme: dark;
        --card--color--primary--pinkish:        var(--card--color--primary--pinkish--dark--contrast);
        --card--color--secondary--pinkish:      var(--card--color--secondary--pinkish--dark--contrast);
        --card--backgroundColor--pinkish:       var(--card--backgroundColor--pinkish--dark--contrast);
        --card--borderColor--pinkish:           var(--card--borderColor--pinkish--dark--contrast);
    }
}
