:root {
  --_backgroundColor: var(--input--backgroundColor);
  --_borderColor: var(--input--borderColor);
  --_inputColor: var(--input--color);
  --_labelColor: var(--input--color);
  --_maxWidth: 28rem;
}

.InputTextField {
  /*   background-color: pink; */
  margin-bottom: 1.5em;

  & > label {
    font-family: var(--fontFamily--heading);
    font-weight: 500;
    /*     background-color: aquamarine; */

    & > span {
      color: red;
    }
  }

  & > .inputContainer {
    display: grid;
    grid: [stack] 100% / [stack] 100%;
    max-inline-size: var(--_maxWidth);

    /* stack everything inside */
    & > * {
      grid-area: stack;
    }

    & > input {
      position: relative;
      display: block;
      background-color: var(--_backgroundColor);
      inline-size: 100%;
      padding-inline: 0.88rem;
      padding-block: 0.7rem;
      color: var(--_inputColor);
      font-family: var(--fontFamily--heading);
      font-size: 1.125rem;
      font-weight: 400;
      border-width: 1px;
      border-style: solid;
      border-color: var(--_borderColor);
      border-radius: 0.2em;
      line-height: 1;

      /* Disabled */
      &[disabled] {
        cursor: not-allowed;
        opacity: 0.64;
        user-select: none;
      }
    }

    & > .cancel {
      inline-size: 1rem;
      block-size: 1rem;
      padding: 0;
      border: none;
      background-color: transparent;
      margin-inline-start: auto;
      margin-block: auto;
      background-color: chocolate;
    }
  }

  & > .helpTextContainer {
    margin-block-start: 0.5rem;
    /*     background-color: chocolate; */
  }

  & > .validationContainer {
    /*     background-color: deeppink; */

    & > .validation {
      margin-block-start: 0.5rem;
      display: flex;
      gap: 1rem;
      padding: 0.5rem;
      background-color: #fdedee;
      border-inline-start: 4px solid #e63946;
      max-inline-size: var(--_maxWidth);

      & > svg {
        color: #e63946;
      }
    }
  }
}
