:where(.ThemeSwitch) {
  --_padding: 0.2em;
  --_radius: 0.35em;
  --_iconSize: 1.5em;
  --_size: 1.75rem;

  --_color: var(--switch--color);
  --_backgroundColor: var(--switch--backgroundColor);
  --_borderColor: var(--switch--borderColor);
  --_activeBackgroundColor: var(--switch--active--backgroundColor);
  --_activeColor: var(--switch--active--color);

  all: unset; /* remove fieldset styles */
  display: flex;
  position: relative;
  gap: var(--_padding);
  background-color: var(--_backgroundColor);
  padding: var(--_padding);
  border-radius: var(--_radius);
  isolation: isolate;
  transform: translateZ(0);
  inline-size: fit-content;
  border: 1px solid var(--_borderColor);

  &:has(input:focus-visible) {
    outline: 0.125rem dashed var(--focus--outlineColor--primary);
    outline-offset: 2px;

    & .currentChoice {
      outline: 0.125rem solid var(--focus--outlineColor--primary);
    }
  }

  & .themeChoice {
    display: grid;
    place-items: center;
    inline-size: var(--_size);
    block-size: var(--_size);
    z-index: 2;
    transition: color 250ms cubic-bezier(0.65, 0, 0.35, 1);

    > svg {
    }

    > input {
      z-index: 1;
    }
  }

  & .currentChoice {
    content: "";
    position: absolute;
    inset-block-start: var(--_padding);
    inset-inline-start: var(--_padding);
    aspect-ratio: 1;
    height: calc(100% - var(--_padding) * 2);
    background: var(--_activeBackgroundColor);
    border-radius: calc(var(--_radius) / 2);
    pointer-events: none;
    z-index: 1;
    transform: translateX(0); /* Default position */
    transition: translate 250ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  #themeSystem:checked ~ .themeChoice[for="themeSystem"] svg {
    color: var(--_activeColor);
  }

  #themeLight:checked ~ .themeChoice[for="themeLight"] svg {
    color: var(--_activeColor);
  }

  #themeDark:checked ~ .themeChoice[for="themeDark"] svg {
    color: var(--_activeColor);
  }
}

.ThemeSwitch input:nth-of-type(2):checked ~ .currentChoice {
  translate: calc(100% + var(--_padding));
}
.ThemeSwitch input:nth-of-type(3):checked ~ .currentChoice {
  translate: calc(200% + var(--_padding) * 2);
}
