/* prettier-ignore */
:where(:root) {
  --button--fontFamily: var(--fontFamily--heading);
  --button--fontWeight: var(--fontWeight--heading);

  --button--borderWidth--normal: 0.0625rem;
  --button--borderWidth--contrast: 0.125rem;
}

:where(:root) {
  --button--borderWidth--normal: 0.0625rem;
  --button--borderWidth--contrast: 0.0625rem;

  --button--boxShadow--normal: 0 0 0 0 transparent;
  --button--boxShadow--contrast: 0 0 0 0.0625rem
    var(--button--borderColor--primary);

  --button--borderWidth: var(--button--borderWidth--normal);
  --button--boxShadow: var(--button--boxShadow--normal);
}

@media (prefers-contrast: more) {
  :where(:root) {
    --button--borderWidth: var(--button--borderWidth--contrast);
    --button--boxShadow: var(--button--boxShadow--contrast);
  }
}

/* COLOR TOKEN FACTORY */

/* prettier-ignore */

/* Base token definitions */
:where(:root) {
  /* light - primary */
  --button--backgroundColor--primary--light: var(--COLOR--B50);
  --button--borderColor--primary--light: var(--COLOR--B50);
  --button--color--primary--light: var(--COLOR--N00);

  /* light - secondary */
  --button--backgroundColor--secondary--light: transparent;
  --button--borderColor--secondary--light: var(--COLOR--N40);
  --button--color--secondary--light: var(--COLOR--N95);

  /* light - primary - contrast */
  --button--backgroundColor--primary--light--contrast: var(--COLOR--N95);
  --button--borderColor--primary--light--contrast: var(--COLOR--N95);
  --button--color--primary--light--contrast: var(--COLOR--N00);

  /* light - secondary - contrast */
  --button--backgroundColor--secondary--light--contrast: transparent;
  --button--borderColor--secondary--light--contrast: var(--COLOR--N95);
  --button--color--secondary--light--contrast: var(--COLOR--N95);

  /* Dark - primary */
  --button--backgroundColor--primary--dark: var(--COLOR--B60);
  --button--borderColor--primary--dark: var(--COLOR--B60);
  --button--color--primary--dark: var(--COLOR--N00);

  /* Dark - secondary */
  --button--backgroundColor--secondary--dark: transparent;
  --button--borderColor--secondary--dark: var(--COLOR--N60);
  --button--color--secondary--dark: var(--COLOR--N00);

  /* Dark - primary - contrast */
  --button--backgroundColor--primary--dark--contrast: var(--COLOR--N00);
  --button--borderColor--primary--dark--contrast: var(--COLOR--N00);
  --button--color--primary--dark--contrast: var(--COLOR--N95);

  /* Dark - secondary - contrast */
  --button--backgroundColor--secondary--dark--contrast: transparent;
  --button--borderColor--secondary--dark--contrast: var(--COLOR--N00);
  --button--color--secondary--dark--contrast: var(--COLOR--N00);
}

/* Default light mode */
/* prettier-ignore */
:where(:root:not([data-appearance])) {
      color-scheme: light;

        /* Primary */
        --button--backgroundColor--primary:         var(--button--backgroundColor--primary--light);
        --button--borderColor--primary:             var(--button--borderColor--primary--light);
        --button--color--primary:                   var(--button--color--primary--light);

        /* Secondary */
        --button--backgroundColor--secondary:       var(--button--backgroundColor--secondary--light);
        --button--borderColor--secondary:           var(--button--borderColor--secondary--light);
        --button--color--secondary:                 var(--button--color--secondary--light);
    }

/* System preference dark mode (when no explicit theme is set) */
/* prettier-ignore */
@media (prefers-color-scheme: dark) {
      :where(:root:not([data-appearance])) {
        color-scheme: dark;

        /* Primary */
        --button--backgroundColor--primary:     var(--button--backgroundColor--primary--dark);
        --button--borderColor--primary:         var(--button--borderColor--primary--dark);
        --button--color--primary:               var(--button--color--primary--dark);

        /* Secondary */
        --button--backgroundColor--secondary:   var(--button--backgroundColor--secondary--dark);
        --button--borderColor--secondary:       var(--button--borderColor--secondary--dark);
        --button--color--secondary:             var(--button--color--secondary--dark);
      }
    }

/* Explicit light theme setting */
/* prettier-ignore */
:where([data-appearance="light"]) {
      color-scheme: light;

        /* Primary */
        --button--backgroundColor--primary:         var(--button--backgroundColor--primary--light);
        --button--borderColor--primary:             var(--button--borderColor--primary--light);
        --button--color--primary:                   var(--button--color--primary--light);

        /* Secondary */
        --button--backgroundColor--secondary:       var(--button--backgroundColor--secondary--light);
        --button--borderColor--secondary:           var(--button--borderColor--secondary--light);
        --button--color--secondary:                 var(--button--color--secondary--light);
    }

/* Explicit dark theme setting */
/* prettier-ignore */
:where([data-appearance="dark"]) {
      color-scheme: dark;

        /* Primary */
        --button--backgroundColor--primary:     var(--button--backgroundColor--primary--dark);
        --button--borderColor--primary:         var(--button--borderColor--primary--dark);
        --button--color--primary:               var(--button--color--primary--dark);

        /* Secondary */
        --button--backgroundColor--secondary:   var(--button--backgroundColor--secondary--dark);
        --button--borderColor--secondary:       var(--button--borderColor--secondary--dark);
        --button--color--secondary:             var(--button--color--secondary--dark);
    }

/* System preference high contrast mode */
/* prettier-ignore */
@media (prefers-contrast: more) {
      :where(:root:not([data-appearance])) {

        /* Primary */
        --button--backgroundColor--primary:     var(--button--backgroundColor--primary--light--contrast);
        --button--borderColor--primary:         var(--button--borderColor--primary--light--contrast);
        --button--color--primary:               var(--button--color--primary--light--contrast);

        /* Secondary */
        --button--backgroundColor--secondary:   var(--button--backgroundColor--secondary--light--contrast);
        --button--borderColor--secondary:       var(--button--borderColor--secondary--light--contrast);
        --button--color--secondary:             var(--button--color--secondary--light--contrast);
      }
  
      /* System preference high contrast + dark mode */
      @media (prefers-color-scheme: dark) {
        :where(:root:not([data-appearance])) {

        /* Primary */
        --button--backgroundColor--primary:     var(--button--backgroundColor--primary--dark--contrast);
        --button--borderColor--primary:         var(--button--borderColor--primary--dark--contrast);
        --button--color--primary:               var(--button--color--primary--dark--contrast);

        /* Secondary */
        --button--backgroundColor--secondary:   var(--button--backgroundColor--secondary--dark--contrast);
        --button--borderColor--secondary:       var(--button--borderColor--secondary--dark--contrast);
        --button--color--secondary:             var(--button--color--secondary--dark--contrast);
        }
      }
  
      /* Explicit light theme with high contrast preference */
      :where([data-appearance="light"]) {

        /* Primary */
        --button--backgroundColor--primary:     var(--button--backgroundColor--primary--light--contrast);
        --button--borderColor--primary:         var(--button--borderColor--primary--light--contrast);
        --button--color--primary:               var(--button--color--primary--light--contrast);

        /* Secondary */
        --button--backgroundColor--secondary:   var(--button--backgroundColor--secondary--light--contrast);
        --button--borderColor--secondary:       var(--button--borderColor--secondary--light--contrast);
        --button--color--secondary:             var(--button--color--secondary--light--contrast);
      }
  
      /* Explicit dark theme with high contrast preference */
      :where([data-appearance="dark"]) {

        /* Primary */
        --button--backgroundColor--primary:     var(--button--backgroundColor--primary--dark--contrast);
        --button--borderColor--primary:         var(--button--borderColor--primary--dark--contrast);
        --button--color--primary:               var(--button--color--primary--dark--contrast);

        /* Secondary */
        --button--backgroundColor--secondary:   var(--button--backgroundColor--secondary--dark--contrast);
        --button--borderColor--secondary:       var(--button--borderColor--secondary--dark--contrast);
        --button--color--secondary:             var(--button--color--secondary--dark--contrast);
      }
    }
