
{% set legendLabel = 'Choose theme'|t %}
{% set autoThemeLabel = 'System preferences'|t %}
{% set lightThemeLabel = 'Light theme'|t %}
{% set darkThemeLabel = 'Dark theme'|t %}

<fieldset class="ThemeSwitch" data-setting="auto/light/dark">

    <legend class="screenReaderText">{{ legendLabel }}</legend>

    <input id="themeSystem" class="screenReaderText" type="radio" name="theme" value>
    <label class="themeChoice" for="themeSystem">
        <span class="screenReaderText">{{ autoThemeLabel }}</span>
        <svg aria-hidden="true" width="1em" height="1em">
            <use xlink:href="#icon-monitor"></use>
        </svg>
    </label>

    <input id="themeLight" class="screenReaderText" type="radio" name="theme" value="light">
    <label class="themeChoice" for="themeLight">
        <span class="screenReaderText">{{ lightThemeLabel }}</span>
        <svg aria-hidden="true" width="1em" height="1em">
            <use xlink:href="#icon-sun"></use>
        </svg>
    </label>

    <input id="themeDark" class="screenReaderText" type="radio" name="theme" value="dark">
    <label class="themeChoice" for="themeDark">
        <span class="screenReaderText">{{ darkThemeLabel }}</span>
        <svg aria-hidden="true" width="1em" height="1em">
            <use xlink:href="#icon-moon"></use>
        </svg>
    </label>

    <div class="currentChoice"></div>

</fieldset>