---
const { block } = Astro.props;
---
<div class="CallOut">
    <aside class="Component" set:html={block.pageContent.html}>
    </aside>
</div>

<style is:global>
  .CallOut {
      padding: 0;
      margin: 0;
  }
  
  </style>

<style scoped>
  .Component {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--header--backgroundColor);
    margin-block: 2rem;
  }
</style>

