---
const { block } = Astro.props;
---
<aside class="">
  <div class="" set:html={block.pageContent.html}>
  </div>
</aside> 

<style scoped>
  aside {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--header--backgroundColor);
    margin-block: 2rem;
  }
</style>